* {
  padding: 0;
  margin: 0;
}




.jumbotron {
  background-image: url('../images/sebilj.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding-bottom: 0
}

/* ne trebaa
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1100%);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  position: -webkit-sticky;
  /* Safari *
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fff;
  color: #3399ff;
}

.active {
  background-color: #3399ff;
}


*,
:before,
:after {
  box-sizing: border-box;
} */

body {
  background: #424242;
}

form {
  width: 320px;
  margin: 45px auto;
}

form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #2196F3;
}

form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #c6c6c6;
}

form hr.sep {
  background: #2196F3;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 50%;
  margin: 0px auto 45px auto;
}

form .emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none !important;
}

input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}

input:focus~.bar:before,
textarea:focus~.bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}

.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.btn.btn-link {
  background: #2196F3;
  color: #d3eafd;
}

.btn.btn-link:hover {
  background: #0d8aee;
  color: #deeffd;
}

.btn.btn-submit {
  background: #2196F3;
  color: #bce0fb;
}

.btn.btn-submit:hover {
  background: #0d8aee;
  color: #deeffd;
}

.btn.btn-cancel {
  background: #eee;
}

.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}


/*Moje slike*/







.carousel {
  /*display: table;*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 30%;
  height: 53.1%;

}

.container5 {
  display: inline;
}


}

#res_textt {
  font-family: sans-serif;
  font-size: 1vw;
  letter-spacing: 0.3vw;
  text-align: center;
  text-transform: uppercase;
  text-color: black;
  /*margin-top: 0.4%;*/
  text-decoration-style: solid;
}

#res_text {
  font-family: sans-serif;
  font-size: 1vw;
  line-height: 1.5vw;
  text-align: justify;
  margin-left: 35%;
  margin-right: 35%;
  border-style: solid;
  border-color: grey;
  border-radius: 2vw;
  /*border-width: 20px 10px 4px 20px;*/
  margin-top: 1%;
  padding: 0.8%;
}

/*Moje slike*/





/*  Footer  */

.clr {
  clear: both;
}

.footer-wrapper {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: auto;
  background-image: url(../images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding-top: 75px;
  bottom: 0px;
}

.footer-social-icons {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 40px;
  right: 50% !important;
}

.footer-social-icons ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: transparent !important;
}

.footer-social-icons ul li {
  display: inline-block;
  margin-right: 2px;
  width: 36px;
  height: 36px;
  text-align: center !important;
  float: none !important;
}

.footer-social-icons ul li a {
  color: #fff;
  display: block;
  font-size: 22px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
  padding: 0px !important;
}

.footer-social-icons ul li a i {
  line-height: 36px;
  text-align: center;
}

.footer-social-icons ul li:nth-child(1) {
  background: #3b5998;
}

.footer-social-icons ul li:nth-child(2) {
  background: #1da1f2;
}

.footer-social-icons ul li:nth-child(3) {
  background: #25d366;
}

.footer-social-icons ul li:nth-child(4) {
  background: #c32aa3;
}

.footer-social-icons ul li:nth-child(5) {
  background: #007bb5;
}

.footer-social-icons ul li:nth-child(6) {
  background: #ff0000;
}

.footer-social-icons ul li:nth-child(7) {
  background: #db4437;
}

.footer-social-icons ul li:nth-child(8) {
  background: #00aff0;
}

.footer-social-icons ul li:nth-child(9) {
  background: #09b83e;
}

.footer-social-icons ul li:nth-child(10) {
  background: #bd081c;
}

.footer-mid-part {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-section-one {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255, 255, 255, .1);
}

.footer-section-two {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
}

.footer-section-three {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255, 255, 255, .1);
}

.footer-heading {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-heading h2 {
  font-size: 18px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
}

.footer-contact-box {
  width: 100%;
  height: auto;
  ;
  margin: auto;
  margin-top: 13px;
}

.footer-contact-icon {
  width: 25px;
  height: 25px;
  float: left;
}

.footer-contact-icon i {
  color: #fff;
  font-size: 20px;
}

.footer-contact-text {
  width: 85%;
  height: auto;
  float: left;
  margin-left: 10px;
}

.footer-contact-text p {
  font-size: 14px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}

.footer-contact-text p a {
  font-size: 14px;
  text-align: left;
  color: #fff;
  text-decoration: none;

}

.footer-contact-text p:hover {
  color: #f00;
}

.footer-contact-box:hover .footer-contact-icon i {
  color: #f00;
}

.footer-contact-box:hover .footer-contact-text p a {
  color: #f00;
}

div.footer-link {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

div.footer-link ul {
  margin: 0px;
  padding: 0px;
  background-color: transparent !important;
}

div.footer-link ul li {
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
  width: 100%
}

div.footer-link ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  ;
}

div.footer-link ul li a:hover {
  color: #f00;
  background-color: none !important;
  background: none !important;
}

.footer-section-two .footer-heading h2 {
  text-align: center;
}

.footer-form {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.footer-form-box {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.footer-form-style {
  width: 100%;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  background: transparent;
  font-size: 14px;
  text-align: left;
  padding: 0px 10px;
  color: #fff;
}

.footer-form-submit-style {
  width: 129px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: rgba(255, 255, 255, .5);
  border: none;
  margin-top: 1px;
}

.footer-form-submit-style:active {
  background: #f00;
}

.footer-bottom {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-bottom {
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.top-img {
  position: absolute;
  background: url(../images/top-divder.png);
  top: -20px;
  left: 0px;
  width: 100%;
  height: 55px;
}

h1 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}

h1 span {
  color: #f00;
}

/*RESPONSIVE CODE*/
@media only screen and (max-width: 1199px) {
  .footer-wrapper {
    position: relative;
    background-attachment: scroll;
  }

  h1 {
    font-size: 4vw !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-section-one {
    padding: 12px;
  }

  .footer-social-icons ul li {
    margin-bottom: 5px;
  }
}



/*  Footer  */