<div class="footer-wrapper">
    <div class="top-img"></div>
    <div class="container-fluid">
        <div class="footer-social-icons">
            <ul>
                <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>

            </ul>
        </div>

        <div class="footer-mid-part">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-section-one">
                        <div class="footer-heading">
                            <h2>Kontaktirajte nas</h2>
                        </div>
                        <div class="footer-contact-box">
                            <div class="footer-contact-icon"><i class="fa fa-map-marker"></i></div>
                            <div class="footer-contact-text">
                                <p><a href="#" data-toggle="modal" data-target="#mapa">Adresa: Marice Uherke 17, 71210
                                        Ilidža</a>
                                </p>
                                <!--<a href="#" id="map" data-toggle="modal" data-target="#mapModal" style="text-decoration:none;" class="text-white">Grada Bakua 11, Sarajevo, B&H</a>-->
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="footer-contact-box">
                            <div class="footer-contact-icon"><i class="fa fa-map-marker"></i></div>
                            <div class="footer-contact-text">
                                <p><a href="#" data-toggle="modal" data-target="#mapa2">Adresa: Hotel Hollywood, 71210
                                        Ilidža</a>
                                </p>
                                <!--<a href="#" id="map" data-toggle="modal" data-target="#mapModal" style="text-decoration:none;" class="text-white">Grada Bakua 11, Sarajevo, B&H</a>-->
                            </div>
                            <div class="clr"></div>
                        </div>

                        <div class="footer-contact-box">
                            <div class="footer-contact-icon"><i class="fa fa-phone"></i></div>
                            <div class="footer-contact-text">
                                <p><a href="tel:(+387)61 270 152">(+387)61 270 152</a></p>
                            </div>
                            <div class="clr"></div>
                        </div>

                        <div class="footer-contact-box">
                            <div class="footer-contact-icon"><i class="fa fa-fax"></i></div>
                            <div class="footer-contact-text">
                                <p><a href="tel:+38733429745">(+387)33 429 745</a></p>
                            </div>
                            <div class="clr"></div>
                        </div>

                        <div class="footer-contact-box">
                            <div class="footer-contact-icon"><i class="fa fa-envelope"></i></div>
                            <div class="footer-contact-text">
                                <p><a href="mailto:info@suessa.com">info@suessa.com</a></p>
                            </div>
                            <div class="clr"></div>
                        </div>

                        <div class="footer-contact-box">
                            <div class="footer-contact-icon"><i class="fa fa-envelope"></i></div>
                            <div class="footer-contact-text">
                                <p><a href="mailto:mersad@suessa.com">mersad@suessa.com</a></p>
                            </div>
                            <div class="clr"></div>
                        </div>


                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 offset-1">
                    <div class="footer-section-two">
                        <div class="footer-heading">
                            <h2>Naše Usluge</h2>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li>Projektovanje</li>
                                <li>Gradnja</li>
                                <li>Savjetovanje</li>
                                <li>Prodaja nekretnina</li>
                                <!-- <li><a href="#">Iznajmljivanje automobila</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-section-two">
                        <div class="footer-heading">
                            <h2>Linkovi</h2>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li><a href="index.html">Početna stranica</a></li>
                                <li><a href="projekti.html">Projekti</a></li>
                                <li><a href="zemljiste.html">Zemljište</a></li>
                                <!-- <li><a href="#">Rentanje auta</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-section-three">
                        <div class="footer-heading">
                            <h2>Pošaljite upit</h2>
                        </div>
                        <div class="footer-form">
                            <form method="post" action="#">
                                <div class="footer-form-box">
                                    <input type="text" class="footer-form-style" placeholder="Ime i Prezime"
                                        required="required" />
                                </div>
                                <div class="footer-form-box">
                                    <input type="text" class="footer-form-style" placeholder="Email"
                                        required="required" />
                                </div>
                                <!--<div class="footer-form-box">
                   <input type="password" class="footer-form-style" placeholder="Password" required="required"/>
                 </div>--
                                <div class="footer-form-box">
                                    <textarea type="textarea" rows="3" cols="41" required="required"
                                        placeholder="Poruka"></textarea>
                                </div>
                                <div class="footer-form-box">
                                    <input type="submit" class="footer-form-submit-style" value="Pošalji">
                                </div>
                            </form>
                        </div>

                    </div>
                </div> -->
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p>Copyright 2019 ABOC All Rights Reserved <span
                            style="float: right; margin-right: 12%; font-size: 20px"><a href="indexEng.html"
                                class="jezici">ENG</a>
                            | <a href="index.html" class="jezici">BOS</a></span></p>
                </div>
            </div>
        </div>

        <div class="modal fade " id="mapa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Adresa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2006.4908805910889!2d18.30956735378952!3d43.816837759842414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758ca0f3e29324f%3A0x884ac11f62b15811!2sMarice+Uherke+17!5e0!3m2!1shr!2sba!4v1563048119237!5m2!1shr!2sba"
                                    height="450" frameborder="0" style="border:0; width: 100%" allowfullscreen></iframe>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade " id="mapa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Adresa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.2887845915666!2d18.307035715565352!3d43.82910977911563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758ca1514a04af7%3A0xcb01f0bc811d2f0b!2sHotel+Hollywood!5e0!3m2!1shr!2sba!4v1563221304974!5m2!1shr!2sba"
                                    height="450" frameborder="0" style="border:0; width: 100%;"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>