<nav>

      <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>


            <div class="menu">
                  <ul>
                        <li><a href="#aboutUs" id="aboutLink">about us</a></li>
                        <li><a href="#skills" id="skillsLink">our skills</a></li>
                        <li><a href="#team" id="teamLink">our team</a></li>
                        <li><a href="#projects" id="projectsLink">projects</a></li>
                  </ul>
            </div>
      </div>
</nav>
