<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="menu">

                <ul>
                    <a href="index.html" class="ml-4 hidden" style="float: left !important"><img
                            src="images/logoSuesaPNG.png" alt="logo" width="75" height="75"></a>
                    <li><a href="index.html">Početna</a></li>
                    <li><a href="prodaja.html">Projekti</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>